/*
Vars
*/
$black: #010000;
$white: #ffffff;
$fadedBlue: #f5f8f7;
$fadedRed: #f1e1e9;
$darkGrey: rgb(150, 141, 141);
$red: #ff1755;
$lightBlue: rgb(84, 93, 223);
$charcoalBlack: #424242;
$pink: #ff43d6;

//From Coolors
$lightBrown: #C6Ac8F;
$peach: #FFF689;

//Caitlin Paletter_2
$hansaYellow: #EDDE6D;
$eerieBlack: #13172D;
$uclaBlue: #5A6D87;
$pastelGray: #D1CDC9;
$upsdellRed: #AD2626;
$uclaGold: rgb(255, 217, 3);
$pumpkin: #FC6F0E;
$sheenGreen: rgb(81, 243, 6);
$robineggBlue: #1DD3CC;

//Device breakpoint sizes
$phone: 376px;
$tablet: 768px;
$desktop: 992px;
$laptop: 1024px;
$laptopM: 1366px;
$laptopL: 1440px;
$giant: 1920px;

/*
Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P|Roboto|VT323');


/*
Mixins
*/
@mixin translateY($e){
    -webkit-transform: translateY($e);
        -moz-transform: translateY($e);
            transform: translateY($e);
}

@mixin transition($e){
    -webkit-transition: $e;
        -moz-transition: $e;
            transition: $e;
}

div.Main-Background{
    position: fixed;
    z-index: -99; //Behind everything
    left: 9vw; width: 80vw;
    top: 10vh; height: 100vh;
    opacity: 0.15;

    @media(max-width: $giant){
        @media(max-height: 1080px){
            left: 12vw;
        }
    }

    @media(max-width: 1680px){
        @media(max-height: 1050px){
            left: 11vw;
        }
    }

    @media(max-width: 1600px){
        @media(max-height: 900px){
            left: 12vw;
        }
        @media(max-height: 803px){
            left: 10vw;
        }
        
    }

    @media(max-width: 1536px){
        @media(max-height: 864px){
            left: 12vw;
        }
    }

    @media(max-width: $laptopL){
        @media(max-height: 900px){
            left: 13vw;
        }
    }

    @media(max-width: $laptopM){
        @media(max-height: 768px){
            left: 14vw;
        }
    }

    @media(max-width: 1280px){
        @media(max-height: 800px){
            left: 12vw;
        }
    }

    //Laptop
    @media(max-width: $laptop){
        left: 14vw; width: 76vw; 
    }

    //Desktop
    @media(max-width: $desktop){
        width: 90vw; left: 5vw;
        top: 17vh; height: 80vh;
    }
    
    //Tablet
    @media(max-width: $tablet){
        left: 5vw; width: 90vw;
        top: 8vh;
    }

    //Phone
    @media(max-width: $phone){
        left: 0; width: 100%;
    }
    
    background-image: url('../Aquicon-Github.png');
    background-repeat: no-repeat;
    background-color: $fadedBlue;
    background-size: 55%;
    background-position: center;


}

html{
    overflow-x: hidden;
}

//Default
body{
    font-family: 'Press Start 2P', sans-serif;
    padding-top: 5px;
    font-size: 12px;
    color: $charcoalBlack;
    z-index: -100;
    background-color: $white;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    
}

h1, h2, h3{
    font-weight: normal;
    transform: scaleY(1.3);
}

div.ProgressText{
    text-align: center;
    position: fixed;
    left: 38%;

    @media(max-width: $laptop){
        left: 36%;
    }

    @media(max-width: $tablet){
        left: 28%;
        font-size: 14px;
    }
}

h1.Title{
    position: fixed;
    color: $red;
    //z-index: -1;
    font-size: 27px;
    transform: scaleY(1.4);
    left: 10%;
    top: 4%;

    //Laptop
    @media(max-width: $laptop){
        font-size: 22px;
    }

    //Tablet
    @media(max-width: $tablet){
        font-size: 18px;
    }
    //Phone
    @media(max-width: $phone){
        font-size: 10px;
    }

}

Link{
    text-decoration: none;
}

.container-fluid{
    padding-left: 100px; padding-right: 100px;
    padding-top: 25px;
    
    //media devices

    //Desktop
    @media(max-width: $desktop){
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 30px;
    }
    
    //Tablet
    @media(max-width: $tablet){
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
    }
    //Phone
    @media(max-width: $phone){
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
    }

}

