@import '_config.scss';

div.AudioPlayer{
    position: relative;
    display: inline-block;
    left: 9vw;
    top: 10vh;
    transform: scale(0.9);
    margin-bottom: 1vh;

    @media(max-width: $laptop){
        left: 6vw;
        transform: scale(0.8, 0.8);
        top: 8vh;
    }

    @media(max-width: $tablet){
        left: 10vw;
        transform: scale(0.8);
    }

    .SongTitle{
        position: relative;
        bottom: 6vh;
        left: 5vw;
        @media(max-width: $laptop){
            left: 6.5vw;
            bottom: 7.2vh;
        }
        @media(max-width: $tablet){
            left: 7.5vw;
            bottom: 7.5vh;
        }
    }
}

.para1Reveal{
    margin-bottom: '0px';
    left: 9.5em;
    top: 3em;
    width: 80%;

    @media(max-width: $laptop){
        width: 85%;
        left: 6.5em;
    }

    @media (max-width: $tablet){
        width: 80%;
    }


    .para1{
        transform: translateY(1.2vh);
        margin-left: 1vw;
    
        @media(max-width: $laptop){
            font-size: 12px;
        }

        @media (max-width: $tablet){
            font-size: 10px;
            margin-left: 0.5vw;
        }
    
    }
}

.para2Reveal{
    margin-bottom: '0px';
    left: 9.5em;
    top: 3em;
    width: 80%;

    @media(max-width: $laptop){
        width: 85%;
        left: 6.5em;
    }

    @media (max-width: $tablet){
        width: 80%;
    }

    .para2{
        transform: translateY(1.2vh);
        margin-left: 1vw;
        color: #5A6D87;
    
        @media(max-width: $laptop){
            font-size: 12px;
        }

        @media (max-width: $tablet){
            font-size: 10px;
            margin-left: 0.5vw;
        }
    }
}

.para3Reveal{
    margin-bottom: 0px;
    left: 9.5em;
    width: 55%;

    @media(max-width: $laptop){
        width: 75%;
        left: 7em;
    }

    @media(max-width: $tablet){
        left: 8.5em;
    }

    .para3{
        margin-left: 1vw;
    
        @media(max-width: $laptop){
            font-size: 12px;
        }

        @media (max-width: $tablet){
            font-size: 10px;
            margin-left: 0.5vw;
        }
    }
}

.ContactStatementReveal{
    margin-bottom: '0px';
    left: 9.5em;
    top: 3em;
    width: 80%;

    @media(max-width: $laptop){
        width: 70%;
        left: 9em;
    }
    h5{
        text-align: center;
        color: #5A6D87;
    }
    
}

.project-item{

    .rightAboutMe{
        text-align: end;
        margin-right: 8vw;
    
        @media(max-width: $laptopL){
            margin-right: 9.5vw;
        }
    
        @media(max-width: $laptop){
            margin-right: -1em;
        }

        @media(max-width: $tablet){
            margin-right: 1em;
        }

    }

    .leftAboutMe{
        margin-left: 5em;

        @media(max-width: $laptop){
            margin-left: 4em;
        }
    }

    .Index{

        @media(max-width: $tablet){
            margin-bottom: 0;
        }

        .HealthIcon{
            margin-left: -0.8em;
    
            @media(max-width: $laptop){
                margin-left: 1em;
            }

            @media(max-width: $tablet){
                margin-left: 0;
            }
        }
    }
}

.ProductionReveal{
    margin-bottom: 0px;
    left: 31.5vw;
    width: 55%;

    @media(max-width: $laptop){
        left: 37vw;
        font-size: 12px;
    }

    @media(max-width: $tablet){
        left: 39vw;
        font-size: 11px;
    }

    .Production{
        margin-Left: 1vw;
        text-Align: right;
        color: #5A6D87;
    
    }
}

.HealthAndExerciseReveal{
    margin-bottom: 0px;
    left: 7em;
    width: 55%;

    @media(max-width: $laptop){
        font-size: 12px;
        left: 4.3em;
    }

    @media(max-width: $tablet){
        font-size: 11px;
    }

    .HealthAndExercise{
        color: #5A5D87;
    }
}

.Exercise{
    left: 7em;

    @media(max-width: $laptop){
        left: 4em;
    }

    @media(max-width: $tablet){
        left: 10em;
    }
    
    .SideTextExercise{
        position: relative;
        transform: rotate(-90deg) scale(0.8) translateX(36rem);
        left: -8rem;
        transition: .3s;
        display: inline-flex;
    }
    
    &:hover > .SideTextExercise{
        transform: rotate(-90deg) scale(0.8) translateX(40rem);
    }
}