@import '_config.scss';

div.BassPlaythrough{

    .theContainer{
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        
        @media(max-width: $laptopL){
            height: 101vh;
        }

        @media(max-width: 1280px){
            @media(max-height: 1024px){
                margin-top: -5vh; margin-bottom: -8vh;
            }
        }

        @media(max-width: $laptop){
            height: 100%;
        }
    }

    .thePlayerContainer{
        right: 100px;

        @media(max-width: 1536px){
            @media(max-height: 864px){
                right: 95px;    
            }
        }

        @media(max-width: $laptopL){
            right: 100px;
            @media(max-height: 900px){
                top:-3vh;
                transform: scale(1.15);
            }
        }

        @media(max-width: 1280px){
            transform: scale(1, 1.1);
            @media(max-height: 800px){
                right: 90px;
            }
        }

        @media(max-width: $tablet){
            right: 30px;
        }
    }
}

div.AudioPlayer{
    position: relative;
    display: inline-block;
    left: 9vw;
    top: 10vh;
    transform: scale(0.9);
    margin-bottom: 1vh;

    @media(max-width: $giant){
        @media(min-height: 1080px){
            left: 31vw; margin-bottom: 5vh;
            transform: scale(1);
        }
    }
    @media(max-width: 1280px){
        @media(max-height: 1024px){
            left: 22vw;
             
        }
    }
    
    @media(max-width: $laptop){
        left: 6vw;
        transform: scale(0.8, 0.8);
        top: 8vh;
        
        @media(max-height: 640px){
            left: 14vw;
        }
    }
    
    @media(max-width: 840px){
        @media(max-height: 1050px){
            left: 3vw;
        } 
    }

    @media(max-width: 800px){
        left: 4vw;
    }

    @media(max-width: $tablet){
        left: 10vw;
    }
    
    @media(max-width: 640px){
        left: 3vw;
    }

    .SongTitle{
        position: relative;
        bottom: 6vh;
        left: 5vw;

        @media(max-width: $giant){
            @media(min-height: 1080px){
                left: 4vw; bottom: 5vh;
            }
        }
        @media(max-width: 1280px){
            @media(max-height: 1024px){
                left: 5vw;
            }
        }

        @media(max-width: $laptop){
            left: 6.5vw;
            bottom: 7.2vh;
        }
        @media(max-width: 800px){
            @media(max-height: 900px){
                left: 9vw; bottom: 6vh;
            }
        }
        @media(max-width: $tablet){
            left: 7.5vw;
            bottom: 7.5vh;
        }
    }
}

.para1Reveal{
    margin-bottom: '0px';
    left: 9.5em;
    top: 3em;
    width: 80%;

    @media(max-width: $giant){
        @media(min-height: 1080px){
            width: 88%;    
        }
    }

    @media(max-width: $laptopL){
        @media(max-height: 900px){
            width: 81%;
        }
    }

    @media(max-width: $laptop){
        width: 85%;
        left: 6.5em;
    }

    @media (max-width: $tablet){
        width: 80%;
    }


    .para1{
        transform: translateY(1.2vh);
        margin-left: 1vw;

        @media(max-width: $giant){
            @media(min-height: 1080px){
                font-size: 14px;
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 800px){
                font-size: 12px;
            }
        }
    
        @media(max-width: $laptop){
            font-size: 12px;
        }

        @media (max-width: $tablet){
            font-size: 10px;
            margin-left: 0.5vw;
        }
    
    }
}

.para2Reveal{
    margin-bottom: 0px;
    left: 9.5em;
    width: 55%;

    @media(max-width: $giant){
        @media(min-height: 1080px){
            top: 3vh;    
        }
    }

    @media(max-width: 1680px){
        @media(max-height: 1050px){
            top: 3vh;
        }
    }

    @media(max-width: $laptop){
        width: 75%;
        left: 7em;
    }

    @media(max-width: $tablet){
        left: 8.5em;
    }

    .para2{
        margin-left: 1vw;

        @media(max-width: $giant){
            @media(min-height: 1080px){
                font-size: 14px;
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 800px){
                font-size: 12px;
            }
        }
    
        @media(max-width: $laptop){
            font-size: 12px;
        }

        @media (max-width: $tablet){
            font-size: 10px;
            margin-left: 0.5vw;
        }
    }
}

.ContactStatementReveal{
    margin-bottom: '0px';
    left: 9.5em;
    top: 3em;
    width: 80%;

    @media(max-width: $laptop){
        width: 70%;
        left: 10em;
    }

    @media(max-width: $tablet){
        left: 8em;
    }
    h5{
        text-align: center;
        color: #5A6D87;
        font-size: 18px;
    }
    
}

.project-item{

    .rightAboutMe{
        text-align: end;
        margin-right: 8vw;

        @media(max-width: 1600px){
            @media(max-height: 900px){
                margin-right: 3vw;
            }
        }

        @media(max-width: 1536px){
            @media(max-height: 864px){
                margin-right: 4vw;
            }
        }
    
        @media(max-width: $laptopL){
            margin-right: 9.5vw;
            @media(max-height: 900px){
                margin-right: 4vw;
            }
        }
    
        @media(max-width: $laptop){
            margin-right: -1em;
        }

        @media(max-width: $tablet){
            margin-right: 1em;
        }

    }

    .leftAboutMe{
        margin-left: 5em;

        @media(max-width: $laptop){
            margin-left: 4em;
        }
    }

    .Index{

        @media(max-width: $tablet){
            margin-bottom: 0;
        }

        .HealthIcon{
            margin-left: -0.8em;
    
            @media(max-width: $laptop){
                margin-left: 1em;
            }

            @media(max-width: $tablet){
                margin-left: 0;
            }
        }

        .InspirationsIcon{
            margin-left: -0.8em;

            i{
                @include translateY(-10%);
            }

            @media(max-width: $laptop){
                margin-left: 1em;
            }

            @media(max-width: $tablet){
                margin-left: 0;
            }
            
        }
    }
}

.RightDescriptionReveal{
    margin-bottom: 0px;
    left: 31.5vw;
    width: 55%;

    @media(max-width: $giant){
        @media(min-height: 1080px){
            left: 33vw;
        }
    }

    //right description reveals on projects page
    &.Project{
        left: 28.5vw;

        @media(max-width: $giant){
            @media(min-height: 1080px){
                left: 33vw;
            }
        }

        @media(max-width: 1600px){
            @media(max-height: 900px){
                left: 33vw;
            }
        }


        @media(max-width: $laptopL){
            @media(max-height: 900px){
                left: 35vw;
            }
        }

        @media(max-width: $laptopM){
            @media(max-height: 768px){
                left: 34vw;
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 1024px){
                left: 36vw;
            }
            @media(max-height: 800px){
                font-size: 12px;
            }
        }

        @media(max-width: $laptop){
            left: 37.5vw;
        }

        @media(max-width: $tablet){
            left: 38vw;
        }
    }

    @media(max-width: 1680px){
        @media(max-height: 1050px){
            left: 33vw;
        }
    }

    @media(max-width: 1600px){
        @media(max-height: 900px){
            left: 37.5vw;
        }
    }

    @media(max-width: 1536px){
        @media(max-height: 864px){
            left: 35vw;
        }
    }

    @media(max-width: $laptopL){
        @media(max-height: 900px){
            left: 34vw;
        }
    }

    @media(max-width: 1280px){
        @media(max-height: 918px){
            left: 37vw;
        }
        @media(max-height: 800px){
            left: 37vw;
            font-size: 12px;
        }
    }

    @media(max-width: $laptop){
        left: 37vw;
        font-size: 12px;
    }

    @media(max-width: $tablet){
        left: 39vw;
        font-size: 11px;
    }

    .RightDescription{
        margin-Left: 1vw;
        text-Align: right;
        color: #5A6D87;
    
    }
}

.LeftDescriptionReveal{
    margin-bottom: 0px;
    left: 7em;
    width: 55%;

    //for left description reveals on the project page
    &.Project{
        left: 11em;

        @media(max-width: $giant){
            @media(min-height: 1080px){
                left: 16em;
            }
        }
        @media(max-width: 1600px){
            @media(max-height: 803px){
                left: 12em;
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 800px){
                font-size: 12px;
            }
        }

        @media(max-width: $laptop){
            left: 3em;
        }
    }

    @media(max-width: $giant){
        @media(min-height: 1080px){
            width: 63%;    
        }
    }

    @media(max-width: 1280px){
        @media(max-height: 800px){
            font-size: 12px;
        }
    }

    @media(max-width: $laptop){
        font-size: 12px;
        left: 4.3em;
    }

    @media(max-width: $tablet){
        font-size: 11px;
    }

    .LeftDescription{
        color: #5A5D87;
    }
}

.Motto{
    position: relative;
    display: inline-block;
    text-align: right;
    width: 27.5%;
    transform: translateY(-15rem) scale(1, 1.3);
    color: $uclaBlue;
    transition: .3s;

    @media(max-width: $laptopL){
        width: 30%;
        @media(max-height: 900px){
            width: 33%;
        }
    }

    @media(max-width: 1280px){
        @media(max-height: 800px){
            width: 34%;
        }
    }

    @media(max-width: $laptop){
        width: 42%;
    }

    @media(max-width: $tablet){
        text-align: left;
        transform: translateY(-15rem) scale(1, 1.1);
        left: 5%;
        width: 32%;
    }

    &:after{
        content: ' ';
        position: absolute;
        background-color: $peach;
        z-index: -1;
        width: 85%;
        height: 90%;
        left: -3%; bottom: 40%;
        transition: .3s;

        @media(max-width: $tablet){
            left: -3%; bottom: 0;
            width: 100%; height: 100%;
        }
    }
    
}

.Exercise{
    display: inline-block;
    position: relative;
    left: 7em;

    @media(max-width: $giant){
        @media(min-height: 1080px){    
            left: 10em;
        }
    }

    @media(max-width: $laptop){
        left: 4em;
    }

    @media(max-width: $tablet){
        left: 11.2em;
        
    }
    
    .SideTextExercise{
        
        position: relative;
        transform: rotate(-90deg) scale(0.8) translateX(36rem);
        left: -8rem;
        transition: .3s;
        display: inline-flex;

    }
    
    &:hover > .SideTextExercise{
        transform: rotate(-90deg) scale(0.8) translateX(40rem);
    }

    &:hover + .Motto{

        width: 29%;
        color: $robineggBlue;

        @media(max-width: $laptopL){
            width: 32%;
            @media(max-height: 900px){
                width: 34%;
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 800px){
                width: 36%;
            }
        }
        
        @media(max-width: $laptop){
            width: 45%;
        }
        
        @media(max-width: $tablet){
            left: -3%;
            width: 32%;
        }

        &:after{
            left: -5%;
            width: 75%;

            @media(max-width: $tablet){
                left: -3%; bottom: 0;
                width: 100%; height: 100%;
            }
        }
    }
}

.InspirationsSideText{
    position: relative;
    display: inline-block;

    &.Tyler{
        transform: rotate(90deg) translate(-20vw, -96vh);

        @media(max-width: $giant){
            @media(min-height: 1080px){
                transform: rotate(90deg) translate(-20vw, -88vh);
            }
        }
        @media(max-width: 1680px){
            @media(max-height: 1050px){
                transform: rotate(90deg) translate(-20vw, -78vh);
            }
        }

        @media(max-width: 1600px){
            @media(max-height: 900px){
                transform: rotate(90deg) translate(-20vw, -86vh);
            }
            @media(max-height: 803px){
                transform: rotate(90deg) translate(-20vw, -96vh);
            }
        }

        @media(max-width: 1536px){
            @media(max-height: 864px){
                transform: rotate(90deg) translate(-20vw, -84vh);
            }
        }
    
        @media(max-width: $laptopL){
            transform: rotate(90deg) translate(-20vw, -76vh);

            @media(max-height: 900px){
                transform: rotate(90deg) translate(-20vw, -75vh);
            }
            @media(max-height: 768px){
                transform: rotate(90deg) translate(-20vw, -89vh);
            }

        }

        @media(max-width: $laptopM){
            transform: rotate(90deg) translate(-20vw, -72vh);

            @media(max-height: 768px){
                transform: rotate(90deg) translate(-20vw, -85vh);
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 1024px){
                transform: rotate(90deg) translate(-20vw, -58vh);
            }
            @media(max-height: 918px){
                transform: rotate(90deg) translate(-20vw, -64vh);
            }
            @media(max-height: 800px){
                transform: rotate(90deg) translate(-20vw, -76vh);
            }
        }
    
        @media(max-width: $laptop){
            h6{
                font-size: 12px;
            }
            transform: rotate(90deg) translate(-20vw, -62vh);
            @media(max-height: 1024px){
                transform: rotate(90deg) translate(-20vw, -45vh);
            }
            @media(max-height: 640px){
                transform: rotate(90deg) translate(-20vw, -68vh);
            }
        }

        @media(max-width: 840px){
            @media(max-height: 1050px){
                transform: rotate(90deg) translate(-17vw, -30vh);
            }
        }
    
        @media(max-width: $tablet){
            transform: rotate(90deg) translate(-20vw, -52vh);
            @media(max-height: 900px){
                transform: rotate(90deg) translate(-20vw, -40vh);
            }
            @media(max-height: 864px){
                transform: rotate(90deg) translate(-20vw, -44vh);
            }
        }
    }

    &.Jared{
        transform: rotate(90deg) translate(-18vw, -148vh);

        @media(min-width: $giant){
            @media(min-height: 1080px){
                transform: rotate(90deg) translate(-18vw, -138vh);
            }
        }
        @media(max-width: 1680px){
            @media(max-height: 1050px){
                transform: rotate(90deg) translate(-18vw, -122vh);
            }
            @media(max-height: 900px){
                transform: rotate(90deg) translate(-18vw, -140vh);
            }
        }
        @media(max-width: 1600px){
            @media(max-height: 803px){
                transform: rotate(90deg) translate(-18vw, -152vh);
            }
        }

        @media(max-width: 1536px){
            @media(max-height: 864px){
                transform: rotate(90deg) translate(-18vw, -139vh);
            }
        }

        @media(max-width: $laptopL){
            transform: rotate(90deg) translate(-18vw, -120vh);
            
            @media(max-height: 900px){
                transform: rotate(90deg) translate(-18vw, -118vh);
            }
            @media(max-height: 768px){
                transform: rotate(90deg) translate(-18vw, -140vh);
            }

        }

        @media(max-width: $laptopM){
            transform: rotate(90deg) translate(-18vw, -116vh);

            @media(max-height: 768px){
                transform: rotate(90deg) translate(-18vw, -135vh);
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 1024px){
                transform: rotate(90deg) translate(-18vw, -95vh);
            }
            @media(max-height: 918px){
                transform: rotate(90deg) translate(-18vw, -105vh);
            }
            @media(max-height: 800px){
                transform: rotate(90deg) translate(-18vw, -121vh);
            }
        }
    
        @media(max-width: $laptop){
            h6{
                font-size: 12px;
            }
            transform: rotate(90deg) translate(-18vw, -106vh);
            @media(max-height: 1024px){
                transform: rotate(90deg) translate(-18vw, -75vh);
            }
            @media(max-height: 640px){
                transform: rotate(90deg) translate(-18vw, -120vh);
            }
        }

        @media(max-width: 840px){
            @media(max-height: 1050px){
                transform: rotate(90deg) translate(-16vw, -55vh);
            }
        }
    
        @media(max-width: $tablet){
            transform: rotate(90deg) translate(-18vw, -84vh);
        }
    }
}

.gridTylerCarter{
    position: relative;
    left: 6rem;
    width: 55%;
    display: inline-block;

    img.ImageTylerCarter{
        width: 100%;
    }
    @media(max-width: 1280px){
        
    }

    @media(max-width: $laptop){
        left: 4rem;
    }

}

.gridJaredLeto{
    position: relative;
    display: inline-block;
    left: 26rem;
    width: 61%;

    img.ImageJaredLeto{
        width: 100%;
    }

    @media(max-width: $giant){
        @media(min-height: 1080px){
            left: 35rem;    
        }
    }

    @media(max-width: 1680px){
        @media(max-height: 1050px){
            left: 30rem;
        }
    }

    @media(max-width: 1600px){
        @media(max-height: 900px){
            left: 32rem;
        }
    }

    @media(max-width: 1536px){
        @media(max-height: 864px){
            left: 30rem;        
        }
    }

    @media(max-width: $laptopL){
        @media(max-height: 900px){
            left: 25rem;
        }
    }
    @media(max-width: 1280px){
        @media(max-height: 1024px){
            left: 26rem;
        }
    }

    @media(max-width: $laptop){
        left: 21rem;
    }
    @media(max-width: 840px){
        @media(max-height: 1050px){
            left: 18rem;
        }
    }
    @media(max-width: 800px){
        @media(max-height: 900px){
            left: 17rem;
        }
    }

    @media(max-width: $tablet){
        left: 16rem;
    }
}

figure.effect-sadie{
    margin: 0 0 0rem;
}

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 110%);
	content: '';
	opacity: 0;
	transform: translate3d(0,0,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 70%;
	left: 5%;
	width: 90%;
	color: #484c61;
	transition: transform 0.35s, color 0.35s;
    transform: translate3d(0,-50%,0);

    &.right{
        text-align: right;
    }
    
    @media(max-width: $laptop){
        font-size: 20px;
        top: 75%;
    }

    & > div > h1{
        position: relative;
        color:$upsdellRed;
        opacity: 0.8;
        transition: transform 0.35s, color 0.35s, opacity 0.35s;

        @media(max-width: $laptop){
            font-size: 30px;
        }
        
    }
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 4vh;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
    transform: translate3d(0,10px,0);
    color: $peach;

    &.right{
        text-align: right;
    }

    @media(max-width: $laptopL){
        bottom: 2vh;
    }
    
    @media(max-width: $laptop){
        bottom: -2vh;
        font-size: 12px;
    }
}

figure.effect-sadie:hover h2 {
	color: #fff;
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    
    & > div > h1{
        color: #fff;
        opacity: 0;
        @include translateY(20%);
    }
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}
