@import '_config.scss';


div.PreviousPageIcon{
    position: fixed;
    bottom: 1rem;
    left: 6rem;
    
    @media(max-width: $laptop){
        left: 2.5rem;
    }
    @media(max-width: $tablet){
        visibility: hidden;
    }
    @media(max-width: $phone){
        visibility: visible;
        @media(max-height: 670px){
            left: -0.5rem;
            bottom: 1rem;
        }
    }
    
    a{
        text-decoration: none;
        text-decoration-line: none;
    }

    p{
        transition: .2s;
        position: relative;
        left: 1.5rem;
        margin-bottom: 0;
        font-size: 8px;
        transform: scaleY(1.2);
        color: $charcoalBlack;
        @media(max-width: $phone){
            font-size: 6px;
            left: 3rem;
        }
    }

    i{
        transition: .2s;
        position: relative;
        left: 3rem;
        font-size: 30px;
        transform: scaleX(4);
        color: $red;
        @media(max-width: $phone){
            transform: scaleX(2);
        }
        
    }

    &:hover{

        p{
            left: 2.5rem;
            @media(max-width: $phone){
                left: 4rem;
            }
        }

        i{
            left: 2rem;
        }
    }


}

div.NextPageIcon{
    position: fixed;
    bottom: 0.4rem;
    left: 82rem;

    @media(min-width: $giant){
        @media(max-height: 1080px){
            left: 105rem;
        }
    }

    @media(max-width: 1680px){
        @media(max-height: 1050px){
            left: 90rem;
        }
    }

    @media(max-width: 1600px){
        @media(max-height: 900px){
            left: 84rem;
        }
    }

    @media(max-width: $laptopL){
        left: 75.5rem;
    }

    @media(max-width: 1280px){
        @media(max-height: 1024px){
            left: 70rem;
        }
        @media(max-height: 800px){
            left: 68rem;
        }
    }
    
    @media(max-width: $laptop){
        left: 54.5rem;
    }
    @media(max-width: $tablet){
        visibility: hidden;
    }
    @media(max-width: $phone){
        visibility: visible;
        @media(max-height: 670px){
            left: 15rem;
            bottom: 1rem;
        }
    }
    
    p{
        transition: .2s;
        position: relative;
        left: -0.8rem;
        margin-bottom: 0;
        font-size: 8px;
        transform: scaleY(1.2);
        color: $charcoalBlack;
        @media(max-width: $phone){
            font-size: 6px;
            left: 0.6rem;
        }
        
    }

    i{
        transition: .2s;
        position: relative;
        left: 3rem;
        font-size: 30px;
        transform: scaleX(4);
        color: $red;
        @media(max-width: $phone){
            transform: scaleX(2);
        }
        
    }

    &:hover{

        p{
            left: -1.8rem;
            @media(max-width: $phone){
                left: -0.8rem;
            }
        }

        i{
            left: 4rem;
        }
    }


}