@import '_config.scss';

.NameDiv{
    position: relative;
    left: -8.7vw;
    transform: scale(1.1) translateY(2.5vh);

    @media(max-width: $giant){
        @media(min-height: 1080px){
            left: -5vw;
        }
    }
    @media(max-width: 1680px){
        @media(min-height: 1050px){
            left: -7vw;
        }
    }

    @media(max-width: 1600px){
        @media(min-height: 900px){
            left: -7vw;
        }
    }
    
    @media(max-width: $laptopL){
        left: -9vw;
    }
    
    @media(max-width: $laptop){
        transform: scale(1);
        left: 0;
        display: -webkit-inline-box;
    }

    @media(max-width: $tablet){
        left: 2vw;
    }

    .NameField{
        text-align: center;
        border: 2px solid #424242;
        background-color: rgb(255, 251, 202);
        color: #424242;

        @media(max-width: 1280px){
            @media(min-height: 800px){
                width: 18vw;
            }
        }

    }
}

.EmailDiv{
    position: relative;
    left: 15.5vw;
    transform: scale(1.1) translateY(-6.35vh);

    @media(max-width: $giant){
        @media(min-height: 1080px){
            left: 15vw;
            transform: scale(1.1) translateY(-4vh);
        }
    }

    @media(max-width: 1680px){
        @media(min-height: 1050px){
            transform: scale(1.1) translateY(-4.2vh);
            left: 17vw;
        }
    }

    @media(max-width: 1600px){
        @media(min-height: 900px){
            transform: scale(1.1) translateY(-5.4vh);
        }
    }

    @media(max-width: 1536px){
        @media(min-height: 864px){
              transform: scale(1.1) translateY(-5.7vh);
        }
    }
    
    @media(max-width: $laptopL){
        transform: scale(1.1) translateY(-5.4vh);
        left: 15.5vw;

        @media(min-height: 768px){
            transform: scale(1.1) translateY(-6.7vh);
        }

        @media(min-height: 900px){
            transform: scale(1.1) translateY(-5.3vh);
        }
    }

    @media(max-width: $laptopM){
        @media(min-height: 768px){
            transform: scale(1.1) translateY(-6.7vh);
        }
    }

    @media(max-width: 1280px){
        @media(min-height: 800px){
            left: 14vw;
            transform: scale(1.1) translateY(-6.3vh);   
        }
        @media(min-height: 1024px){
            transform: scale(1.1) translateY(-4.4vh);
        }
    }
    
    @media(max-width: $laptop){
        transform: scale(1);
        left: 0;
        display: -webkit-inline-box;
    }

    @media(max-width: $tablet){
        left: 2vw;
    }

    .EmailField{
        width: 22vw;
        text-align: center;
        border: 2px solid #424242;
        background-color: rgb(255, 251, 202);
        color: #424242;

        @media(max-width: $giant){
            @media(min-height: 1080px){
                width: 18vw;
            }
        }

        @media(max-width: 1600px){
            @media(min-height: 900px){
                width: 20vw;
            }
        }

        @media(max-width: 1280px){
            @media(min-height: 800px){
                width: 20vw;
            }
        }

        @media(max-width: $laptop){
            width: 29vw;
        }

        @media(max-width: $tablet){
            width: 39vw;
        }

        
    }

}

.MessageDiv{
    position: relative;
    transform: scale(1.1) translateY(-2vh);
    left: 3.8vw;
    
    @media(max-width: $giant){
        @media(min-height: 1080px){
            left: 5vw;
        }
    }

    @media(max-width: $laptopL){
        @media(min-height: 900px){
            left: 3.5vw;
        }
    }

    @media(max-width: 1280px){
        @media(min-height: 800px){
            left: 3vw;
        }
    }

    @media(max-width: $laptop){
        transform: scale(1);
        left: 0;
        display: -webkit-inline-box;
    }
    
    @media(max-width: $tablet){
        left: 2vw;
    }

    .MessageField{
        width: 40vw;
        border: 2px solid #424242;
        background-color: rgb(255, 251, 202);
        color: #424242;
    }
}

.ContactDiv{
    position: relative;
    transform: scale(1.1) translateY(-1vh);
    left: 3vw;
    transition: color .5s;
    
    .ContactButton{
        border-radius: 8px;
        transition: .3s;

        color: #424242;
        background-color: #AD2626;
        
    }

    @media(max-width: $giant){
        @media(min-height: 1080px){
            left: 4.5vw;
        }
    }
    
    @media(max-width: $laptop){
        left: 0;
        transform: scale(1);
        display: -webkit-inline-box;
    }
    @media(max-width: $tablet){
        left: 2vw;
    }

}