@import '_config.scss';

header{
    position: fixed;
    top: 2em; left: 65%; right: 2em;
    display: block;
    background: $white;
    color: $white;
    height: 50px;
    width: 50vw;


    nav,
    nav ul,
    nav ul li{
        margin: 0;
        padding: 8px;
        text-decoration: none;
    }

    nav {
        position: relative;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li{
            position: relative;
            list-style-type: none;
            display: inline-block;
            margin-right: 15px;

            &.last{
                margin: 0;
            }
            

            a {
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                color: $uclaBlue;
                position: relative;
                transform-origin: -20px;
            
                &:hover{
                    color: $white;
                    text-decoration: none;
                    text-decoration-line: none;

                }

                &:after{
                    content: ' ';
                    position: absolute;
                    left: 0; bottom: 0;
                    height: 10%; width: 100%;
                    background-color: $uclaBlue;
                    z-index: -1;
                    transition: height .2s, background-color .2s;
                }
                
                &:hover:after{
                    height: 120%;
                    background-color: $red;
                }
                
            }
        }
    }

}