@import "_config.scss";

header{
    position: fixed;
    top: 20px; left: 65.1%; right: 0;
    display: block;
    background: #e6e6e6;
    color: $white;
    height: 68px;

    //Use .syntax to reference classNames within scss
    .logo{
        position: relative;
        top: 50%; left: 15px;
        @include translateY(-50%);
    }


    nav,
    nav ul,
    nav ul li{
        margin: 0;
        padding: 8px;
    }

    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li{
            list-style-type: none;
            display: inline-block;
            margin-right: 15px;

            &.last{
                margin: 0;
            }
            

            a {
                font-size: 19px;
                font-weight: 600;
                line-height: normal;
                color: $red;
                text-decoration-color: $red;
                text-decoration-line: underline;
                
            }
        }
    }

}