@import '_config.scss';


.HomeVideo{
    .theContainer{
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .thePlayerContainer{
        @media(max-width: 1280px){
            transform: scale(1, 1.45);
            
        }
    }
}

.container-fluid{
    line-height: 24px;
    font-size: 14px;
    
    .Image{
        padding-bottom: 25px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;

        h1 {
            margin-bottom: 0;
            
        }
        
    }

    div.SideTextHome{
        transform: rotate(90deg);
        position: relative;
        left: 33rem;

        @media(max-width: $giant){
            @media(min-height: 1080px){
                left: 38rem;
            }
        }

        @media(max-width: $laptopL){
            left: 31rem;
            transform: translateY(-7rem) rotate(90deg);
            @media(min-height: 900px){
                transform: rotate(90deg);
            }
        }

        @media(max-width: $laptopM){
            @media(min-height: 768px){
                left: 28rem;
                transform: rotate(90deg);   
            }
        }

        @media(max-width: 1280px){
            @media(min-height: 800px){
                left: 26rem;
            }
            @media(min-height: 1024px){
                transform: translateY(-7rem) rotate(90deg);
            }
        }

        @media(max-width: $laptop){
            left: 22.5rem;
            transform: translateY(-10rem) rotate(90deg);
        }

        @media(max-width: $tablet){
            left: 17rem;
        }

        .SideText{
            font-size: 11px;
            transform: scaleY(1.2);
            color: $charcoalBlack;

            @media(max-width: $giant){
                font-size: 15px;
            }

            @media(max-width: $laptop){
                font-size: 9px;
            }
        }

    }

    nav.HomeNav{
        position: relative;
        @include translateY(-13vh);
        left: 7vw;

        @media(max-width: $giant){
            left: 12vw;
        }

        @media(max-width: $laptopL){
            @include translateY(-15vh);
        }

        @media(max-width: 1280px){
            @media(min-height: 800px){
                left: 7vw;
            }
            @media(min-height: 1024px){
                @include translateY(-25vh);
            }
        }
        
        @media(max-width: $laptop){
            left: 19.3vw;
            @include translateY(-20vh);
            text-align: center;
        }

        @media(max-width: $tablet){
            left: 25vw;
            @media(min-height: 900px){
                left: 24vw;
                @include translateY(-35vh);
            }
        }

        ul li{
            margin: 0;
            padding: 5vh;
            text-decoration: none;
            list-style-type: none;
            font-size: 35px;
            transform: scaleY(1.2);
            @media(max-width: $tablet){
                font-size: 20px;
            }
        }
    }


}