@import '_config.scss';


.HomeVideo{
    .theContainer{
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .thePlayerContainer{
        @media(max-width: 1280px){
            
            @media(max-height: 1024px){
                transform: scale(1, 1.45);
            }
            
        }

        @media(max-width: $phone){
            @media(max-height: 670px){
                transform: scale(1.2, 1.4);
                top: -6em;
            }
        }
    }
}

.container-fluid{
    line-height: 24px;
    font-size: 14px;

    div.SideTextHome{
        transform: rotate(90deg);
        position: relative;
        left: 33rem;

        @media(max-width: $giant){
            @media(max-height: 1080px){
                left: 38rem;
            }
        }
        @media(max-width: 1538px){
            @media(max-height: 803px){
                left: 32rem;
            }
        }

        @media(max-width: $laptopL){
            left: 31rem;
            transform: translateY(-7rem) rotate(90deg);
            @media(max-height: 900px){
                transform: rotate(90deg);
            }
        }

        @media(max-width: $laptopM){
            @media(max-height: 768px){
                left: 28rem;
                transform: rotate(90deg);   
            }
        }

        @media(max-width: 1280px){
            @media(max-height: 1024px){
                left: 30em;
                transform: translateY(-7rem) rotate(90deg);
            }
            @media(max-height: 800px){
                left: 26rem;
            }
        }

        @media(max-width: $laptop){
            left: 22.5rem;
            transform: translateY(-10rem) rotate(90deg);
        }

        @media(max-width: $tablet){
            left: 17rem;
        }
        @media(max-width: $phone){
            visibility: hidden;
        }

        .SideText{
            font-size: 11px;
            transform: scaleY(1.2);
            color: $charcoalBlack;

            @media(max-width: $giant){
                font-size: 15px;
            }

            @media(max-width: $laptop){
                font-size: 9px;
            }
        }

    }

    nav.HomeNav{
        position: relative;
        @include translateY(-13vh);
        left: 7vw;

        @media(max-width: $giant){
            left: 12vw;
        }

        @media(max-width: $laptopL){
            @include translateY(-15vh);
        }

        @media(max-width: 1280px){
            @media(max-height: 1024px){
                @include translateY(-15vh);
            }
            @media(max-height: 800px){
                left: 7vw;
            }
        }
        
        @media(max-width: $laptop){
            left: 19.3vw;
            @include translateY(-20vh);
            text-align: center;
        }

        @media(max-width: $tablet){
            left: 25vw;
            @media(max-height: 900px){
                left: 24vw;
                @include translateY(-35vh);
            }
        }

        @media(max-width: $phone){
            @media(max-height: 670px){
                left: 7vw;
                @include translateY(-44vh);
            }
        }

        ul li{
            margin: 0;
            padding: 5vh;
            text-decoration: none;
            list-style-type: none;
            font-size: 35px;
            transform: scaleY(1.2);
            @media(max-width: $tablet){
                font-size: 20px;
            }
        }
    }


}