@import '_config.scss';

.container-fluid{
    line-height: 24px;
    font-size: 14px;
    
    .Image{
        height: 100vh;
        background-image: url(../myPortfolioHome.mp4);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        text-align: center;
        color: $white;
        font-size: 2em;

        h1 {
            margin-bottom: 0;
        }
        
    }


}