@import '_config.scss';

.container-fluid{

    div.project-item{

        h1{
            font-size: 30px;
            position: relative;
            margin-bottom: 60px;

            //Tablet
            @media(max-width: $tablet){
                font-size: 20px;
                margin-bottom: 40px;
            }
            //Phone
            @media(max-width: $phone){
                font-size: 13px;
                margin-bottom: 30px;
            }
    
            a{
                color: $upsdellRed;
                position: relative;
                
                &:hover{
                    color: $red;
                    text-decoration: none;
                    text-decoration-line: none;
                }
                
                &:after{
                    content: ' ';
                    position: absolute;
                    left: 0; bottom: 0;
                    height: 10%; width: 100%;
                    background-color: $upsdellRed;
                    z-index: -1;
                    transition: height .1s, background-color .1s;
                }
                
                &:hover:after{
                    height: 40%;
                    background-color: $peach;
                }
            }
        }

        .Index{
            position: relative;
            left: 0; bottom: 0;
            z-index: -1;
            
            h1{
                font-size: 5em;
                margin: 0;
                font-weight: bold;
                color: $uclaGold;
                opacity: 0.6;
                @include translateY(50%);

                //Tablet
                @media(max-width: $tablet){
                    font-size: 4em;
                }
                //Phone
                @media(max-width: $phone){
                    font-size: 3em;
                }

            }
        }
        
    }
    
}