@import '_config.scss';

.container-fluid{

    p.Description{
        font-style: italic;
        line-height: 18px;
        margin-top: 14%; margin-left: 16%;
        font-size: 10px;
        width: 70%; 
        color: $darkGrey;
        transform: scaleY(1.4);

        //Giant 1920 screen
        @media(max-width: $giant){
            @media(min-height: 1080px){
                font-size: 12px;
                width: 78%;
            }
        }

        //Laptop
        @media(max-width: $laptop){
            margin-left: 18%;
            font-size: 8px;
        }

        //tablet
        @media(max-width: $tablet){
            margin-left: 16.5%;
        }
    }

    

    a{
        color: $uclaBlue;
        position: relative;
        
        &:hover{
            color: $robineggBlue;
            text-decoration: none;
            text-decoration-line: none;
        }
        
        &:after{
            content: ' ';
            position: absolute;
            left: 0; bottom: 0;
            height: 10%; width: 100%;
            background-color: $uclaBlue;
            z-index: -1;
            transition: height .2s, background-color .2s;
        }
        
        &:hover:after{
            height: 40%;
            background-color: $peach;
        }

        &.ViewMore{
            font-size: 12px;
            transform: scale(0.8, 1.2);
            margin-top: 8vh; margin-bottom: 25vh;

            @media(max-width: $giant){
                @media(min-height: 1080px){
                    transform: scale(1,1.4);
                    margin-left: 15em;
                }
            }

            @media(max-width: $laptop){
                font-size: 10px;
                margin-top: 10vh;
            }
            @media(max-width: $tablet){
                font-size: 10px;
                margin-top: 10vh;
            }
        }
    }

    div.project-item{
        margin-bottom: 30px;
        margin-top: 30px;
        
        .SideTextAlienzNew{
            position: relative;
            transform: translateY(-37vh) rotate(-90deg);
            left: -22%;
            transition: transform .2s;

            @media(max-width: $giant){
                @media(min-height: 1080px){
                    transform: translateY(-26vh) rotate(-90deg);
                    left: -1%;
                }
            }

            @media(max-width: $laptopL){
                transform: translateY(-34vh) rotate(-90deg);
                left: -25%;
            }

            @media(max-width: $laptop){
                transform: translateY(-42vh) rotate(-90deg);
                left: -63%;
            }

            @media(max-width: $tablet){
                transform: translateY(-39vh) rotate(-90deg);
                left: 0%;
            }
            

            display: inline-block;
            
            .SideText{
                position: relative;
                font-size: 12px;
                color: $charcoalBlack;
                
            }
        }

        .SynthImage{
            width: 800px;

            @media(max-width: $giant){
                @media(min-height: 1080px){
                    width: 1000px;
                    margin-left: 6vw;
                }
            }

            @media(max-width: $laptop){
                margin-left: 4vw;
                width: 700px;
            }

            @media(max-width: $tablet){
                height: auto;
                margin-left: 2vw;
                width: 650px;
            }

            .SideTextSynth{

                .leftSideText{
                    position: relative;
                    font-size: 13px;
                    color: $charcoalBlack;

                    transform: translateY(-52vh) rotate(-90deg);
                    right: 27vw;

                    @media(max-width: $laptopL){
                        transform: translateY(-49vh) rotate(-90deg);
                        right: 29vw;
                    }

                    @media(max-width: $laptop){
                        transform: translateY(-58vh) rotate(-90deg);
                        right: 36.5vw;
                    }

                    @media(max-width: $tablet){
                        font-size: 10px;
                        transform: translateY(-50vh) rotate(-90deg);
                        right: 44.5vw;
                    }
                    
                }
    
                .rightSideText{
                    position: relative;
                    font-size: 13px;
                    color: $charcoalBlack;

                    transform: translateY(-7vh) rotate(90deg);
                    left: 27vw;

                    @media(max-width: $giant){
                        @media(min-height: 1080px){
                            transform: translateY(5vh) rotate(90deg);
                        }
                    }

                    @media(max-width: $laptopL){
                        transform: translateY(-7vh) rotate(90deg);
                        left: 29vw;
                    }

                    @media(max-width: $laptop){
                        transform: translateY(-7vh) rotate(90deg);
                        left: 36.5vw;
                    }
                    
                    @media(max-width: $tablet){
                        font-size: 10px;
                        transform: translateY(-17vh) rotate(90deg);
                        left: 44.5vw;
                    }
                }
            }
        }

        .SideTextSpheres{
            position: relative;
            transform :translateY(-64vh);
            left: 58%;
            z-index: 1;
            .topSideText{
                color: $sheenGreen;
                font-size: 10px;
                transform: scaleY(1.2);
            }

            @media(max-width: $laptopL){
                transform: translateY(-57vh);
            }

            @media(max-width: $laptop){
                transform: translateY(-71vh);
                left: 61%;
                .topSideText{
                    font-size: 8px;
                }
            }

            @media(max-width: $tablet){
                transform: translateY(-62vh);
            }
        }

        img.BattleSpheresImage{

            width: 950px;

            @media(max-width: $giant){
                @media(min-height: 1080px){
                    margin-left: 7vw;
                    width: 1100px;
                    height: 100%;
                }
            }
            
            //Laptop
            @media(max-width: $laptop){
                margin-left: 4vw;
                width: 800px;
            }

            //Tablet
            @media(max-width: $tablet){
                width: 680px;
                height: 400px;
            }
        }

        h1{
            font-size: 17px;
            position: relative;
            margin-bottom: 25px;
            color: $charcoalBlack;
            z-index: 1;

            &.left{
                margin-left: 8em;
                @media(max-width: $giant){
                    @media(min-height: 1080px){
                        margin-left: 12em;
                    }
                }

                @media(max-width: $laptop){
                    margin-left: 2em;   
                }
                
                //Tablet
                @media(max-width: $tablet){
                    margin-left: 4%;
                }
            }

            &.right{
                
                text-align: end;
                margin-right: 10vw;

                @media(max-width: $giant){
                    @media(min-height: 1080px){
                        margin-right: 6vw;
                    }
                }

                @media(max-width: $laptopL){
                    margin-right: 9.5vw;
                }

                @media(max-width: $laptop){
                    margin-right: -2vw;
                }
                
                //Tablet
                @media(max-width: $tablet){
                    margin-right: 3vw;
                }
    
            }

            //Laptop
            @media(max-width: $laptop){
                font-size: 12px;
            }

            //Tablet
            @media(max-width: $tablet){
                font-size: 12px;
                margin-bottom: 30px;
            }
            //Phone
            @media(max-width: $phone){
                font-size: 8px;
                margin-bottom: 30px;
            }
    
        }

        .Index{
            position: relative;
            left: 0.2em; 
            z-index: -1;
            margin-left: 11em;
            transform: scaleY(1.3);

            @media(max-width: $giant){
                @media(min-height: 1080px){
                    margin-left: 16em;
                }
            }

            //Laptop
            @media(max-width: $laptop){
                margin-left: 2em;
            }
            //Tablet
            @media(max-width: $tablet){
                margin-left: 3em;
            }
            //Phone
            @media(max-width: $phone){
                
            }
            
            h1{
                font-size: 4.6em;
                font-weight: bold;
                color:$uclaGold;
                opacity: 0.4;

                &.right{
                    direction: rtl;
                    text-align: start;
                    
                    @media(max-width: $laptop){
                        margin-left: 15em;
                    }
                }

                @include translateY(56%);

                //Laptop
                @media(max-width: $laptop){
                    font-size: 3.5em;
                }
                //Tablet
                @media(max-width: $tablet){
                    font-size: 3em;
                    @include translateY(90%);
                }
                //Phone
                @media(max-width: $phone){
                    font-size: 3em;
                }

            }
        }

        .Alienz{
            left: 28%;
            &:hover + .SideTextAlienzNew{
                transform: translateY(-41vh) rotate(-90deg);
            }

            @media(max-width: $giant){
                @media(min-height: 1080px){
                    left: 37%;
                    &:hover + .SideTextAlienzNew{
                        transform: translateY(-30vh) rotate(-90deg);
                    }
                }
            }

            @media(max-width: $laptopL){
                &:hover + .SideTextAlienzNew{
                    transform: translateY(-38vh) rotate(-90deg);
                }
            }

            @media(max-width: $laptop){
                left: 18%;
                &:hover + .SideTextAlienzNew{
                    transform: translateY(-46vh) rotate(-90deg);
                }
            }

            @media(max-width: $tablet){
                left: 11%;
                transform: scale(0.95, 0.95);
                &:hover + .SideTextAlienzNew{
                    transform: translateY(-43vh) rotate(-90deg);
                }
            }

        }
        
    }
    
}